---
---

@import "{{ site.theme }}";
a {
color: #004A99;
}
.wrapper {
  width:1000px;
  margin:0 auto;
}
header {
width:270px;
float:left;
position:fixed;
-webkit-font-smoothing:subpixel-antialiased;
}
header {
padding-right:320px;
}
section {
width:500px;
float:right;
padding-bottom:50px;
}
